/* @theme your-theme */

/*1280*720  or  960*720*/

@import 'default';

:root {
  --fw: 0;
  --bg-color: rgba(0,0,0,1);
}

section {
  background: rgb(255, 255, 255);
}


.container {
  display: flex;
  justify-content: center;  /* 左: flex-start, 中央: center, 右: flex-end */
  align-items: center;      /* 上下の位置 */
}


section::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 10px;
  width: 200px;
  height: 200px;
  background-image: url('bbbb.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}


footer {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 30px;
  bottom: 0px;
  background-image: url("bbbb.png");/*cssからみた相対パス？*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  color: rgb(216, 6, 6); /* テキストの色調整 */
  text-align: left;    /* 左寄せ */
  padding-left: 20px;  /* 左端から少し余白 */
  line-height: 30px;   /* 高さに合わせて縦中央 */
  
}

header {
  position: absolute;
  top: 0px;     
  left: 20px; 
  right: 20px;
  width: 200px;   /* ロゴの幅 */
  height: 100px;   /* ロゴの高さ */

  /* background-image: url("bbbb.png");   ロゴ画像 */
  /* background-size: contain;            画像が収まるよう縮小拡大 */
  /* background-repeat: no-repeat;        繰り返さない */
  /* background-position: top right;   右寄せ・縦中央 */
}

