/* @theme custom_uncover*/

/*1280*720  or  960*720*/

@import 'uncover';

:root {
  --fw: 0;
  --bg-color: rgba(0,0,0,1);
}

/* スライドデザイン調整 */
section {
  background: rgb(255, 255, 255);
}
h1{
  color: rgb(0, 0, 0);
}

/* 
ページ番号設定(marp):https://github.com/marp-team/marp-core/blob/main/themes/uncover.scsshttps://github.com/marp-team/marp-core/blob/main/themes/uncover.scss
 */
section::after{
  color: rgb(0, 0, 0);
  padding: 30px;
}


/* 段組みレイアウト */
/* https://briboo-pc.hatenablog.jp/entry/2023/11/05/%E3%80%90Marp%E3%80%91%E3%82%B3%E3%83%94%E3%83%9A%E3%81%A7%E7%B0%A1%E5%8D%98%EF%BC%81%E5%A4%9A%E6%AE%B5%E7%B5%84%E3%81%BF%E3%82%B7%E3%83%B3%E3%83%97%E3%83%AB%E3%83%AC%E3%82%A4%E3%82%A2%E3%82%A6 */
.flex{
  display: flex;
  gap: 0em;
  border: 8px dashed rgb(196, 250, 97);
}
.fw > div{
  flex: var(--fw);
  background-color: var(--bg-color);
  border: 8px dashed rgb(93, 0, 255);
}


/* 吹き出し */
.speechBubble {
  position: relative;
  display: inline-block;
  margin:0px 0px 0px 20px;
  padding: 5px 20px;
  border-radius: 4px;
  background-color: #dedede;
  text-align: left;
  font-size: 1em;
  line-height: 1.5;
  color: #000000;
}

.speechBubble::after {
  content: "";
  position: absolute;
  top: 30%;
  border-style: solid;
  border-width: 12px 20px 12px 20px;
  border-color: #000000;
  /* left: 0; */
  /* border-color: transparent #dedede transparent transparent; */
  /* translate: -100% -50%; */

  /* right: 0; */
  /* border-color: transparent transparent transparent #000000; */
  /* translate: 100% 50%; */
}
.speechBubble.left::after {
  left: 0;
  border-color: transparent #dedede transparent transparent;
  transform: translateX(-100%);
}

.speechBubble.right::after{
  right: 0;
  border-color: transparent transparent transparent #dedede;
  transform: translateX(100%);
}


/* ボタン */
.push {
  width: auto;
  height: auto;
  transition:0.2s;
}
.push:hover{
  transform: scale(1.05);
  opacity: 0.7;
}
.push:active{
  transform: scale(0.95);
}